# 数据库配置
MONGODB_URI=mongodb://localhost:27017/hwlx_db

# 端口配置
PORT=10000

# Cloudinary配置
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# 邮件配置 (Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

# 环境配置
NODE_ENV=development
